@model QLCCCC.Models.NguoiDung

<h2>User Details</h2>

<div>
    <b>Ho Ten:</b> @Model.HoTen
    <br />
    <b>So Dien Thoai:</b> @Model.SoDienThoai
    <br />
    <b>Email:</b> @Model.Email
    <br />
    <b>Loai Nguoi Dung:</b> @Model.LoaiNguoiDung
</div>

<a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-primary">Edit</a>
<a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
